{% extends "layout.html" %}
{% block content %}

<div class="container">
  <div class="row model-header">
    <div class="col">
      <h2>Linear Regression</h2>
      <h1>Advertising Spend and Sales</h1>
    </div>
  </div>
  <div class="row model-body">
    <div class="col-xs col-lg-8">
      <div class="card card-block">
        <h3>What am I looking at?</h3>
        <p>Imagine that you're the marketing director in charge of promoting Kanye's Yeezy Season 4 collection. Also imagine that we live in some alternative universe where Kanye actually needs a marketing director and the collection doesn't just sell out automatically the day it comes out.</p>
        <p>The Yeezy Season 4 collection is available in 200 stores, and you've been spending your marketing budget in 3 main channels:</p>
        <ul>
          <li>Billboards</li>
          <li>Sponsored Content</li>
          <li>Celebrity Twitter Fights</li>
        </ul>
      </div>
      <p>You've been recording your spend by channel for each store, and you're going over the results:</p>
      {{ data.head|safe }}
      {# <p>Correlation matrix:</p>
      {{ data.corr|safe }} #}
    </div>
    <div class="col-xs col-lg-4">
      <div class="card card-block">
        <p>This dataset is adapted from Introduction to Statistical Learning by Gareth James, Daniela Witten, Trevor Hastie, and Robert Tibshirani.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}