{% extends "layout.html" %}
{% block content %}

<div class="jumbotron header">
  <h1 class="display-3">Models</h1>
  <h2>But Like, Not That Kind</h2>
</div>

<div class="container main">
  <div class="row flex-items-xs-center">
    <div class="col">
      <p>I'm going to be real with you. You could be on Instagram right now.</p>
      <p>Hear me out though - there's a whole world of data science models out there (again, not that kind, though I have goals to be surrounded by plenty of both), and as of right now I've only created material for one.</p>
      <p>So it's not like this is a commitment or anything.</p>
    </div>
  </div>

  <div class="row flex-items-xs-center">
    <div class="col">
      <div class="card model-card card-block">
        <h3>Linear Regression</h3>
        <p>The Honda Civic of data science models. It's not particularly exciting, and you're probably not going to be winning any contests with it. But it'll get you where you need to go, and it sure beats riding the bus.</p>
        <p>Pick a dataset to get started:</p>
        <p>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#sampleDataset" aria-expanded="false" aria-controls="collapseExample">Use Sample Dataset</button>
          <button class="btn btn-secondary" disabled>Upload Your Own</button>
        </p>
        <div class="collapse" id="sampleDataset">
          <div class="card card-block">
            <a href="{{ url_for('model') }}">Advertising Spend and Local Sales</a>
          </div>
        </div>
        <p><small>PS: uploading your own data is sooo totally not yet supported, sorry!</small></p>
      </div>
    </div>
  </div>
</div>

{% endblock %}