{% extends "layout.html" %}
{% block content %}

<div class="jumbotron header">
  <h1 class="display-3">Models</h1>
  <h2>But Like, Not That Kind</h2>
</div>

<div class="container main">
  <div class="row flex-items-xs-center">
    <div class="col">
      <p>Time for some real talk. You could be on Instagram right now.</p>
      <p>There's a whole world of models out there - this kind, and the other kind. You could spend all day looking at either. But only one will help you on your journey to become the LeBron James of data science.</p>
      <p>And I've got them right here.</p>
    </div>
  </div>

  <div class="row flex-items-xs-center">
    <div class="col">
      <div class="card model-card card-block">
        <h3>Linear Regression</h3>
        <p>The Honda Civic of statistical models. It's not particularly exciting, and you probably won't win any contests with it. But it'll get you where you need to go, and it sure beats riding the bus.</p>
        <p>Pick a dataset to get started:</p>
        <p>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#sampleDataset" aria-expanded="false" aria-controls="collapseExample">Use Sample Dataset</button>
          <button class="btn btn-secondary" disabled>Upload Your Own</button>
        </p>
        <div class="collapse" id="sampleDataset">
          <div class="card card-block">
            <a href="{{ url_for('model') }}">Advertising Spend and Local Sales</a>
          </div>
        </div>
        <p><small>PS: uploading your own data is sooo totally not yet supported. Sorry.</small></p>
      </div>
    </div>
  </div>
</div>

{% endblock %}